In [1]:
import sys
sys.path.append("../")
import yaml

import pandas as pd
import pandera as pa
import great_expectations as gx
from great_expectations.data_context import FileDataContext

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

# Pandera

In [2]:
md_raw_dataset_path = "/Users/pdanninger/Documents/Projects/Data_Science_Best_Practice/data/md_raw_dataset_defective.csv"
raw_dataset = pd.read_csv(filepath_or_buffer=md_raw_dataset_path, sep=";", index_col=False)
raw_dataset

,Unnamed: 0,when,super_hero_group,tracking,place,tracking_times,crystal_type,Unnamed: 7,human_behavior_report,human_measure,...,subprocess1_end,reported_on_tower,opened,chemical_x,raw_kryptonite,argon,pure_seastone,crystal_supergroup,Cycle,groups
0,0,09/07/2020,D,84921,1,1,group 27,2,3,650,...,09/07/2020 13:27,09/07/2020 13:37,44021.58091,15.850000,693.0,0.000000,49.51,0,2ª,0.0
1,1,09/07/2020,D,84941,1,1,group 56,1,4,700,...,09/07/2020 15:38,09/07/2020 15:53,44021.6737,21.966667,3570.0,0.000000,99.94,0,2ª,0.0
2,2,09/07/2020,D,84951,1,1,group 56,2,4,800,...,09/07/2020 16:41,09/07/2020 16:54,44021.70867,21.166667,7950.0,0.000000,91.49,0,2ª,0.0
3,3,09/07/2020,D,84971,1,1,group 56,7,3,700,...,09/07/2020 18:47,09/07/2020 18:55,09/07/2020 19:02,15.250000,807.0,0.000000,NaN,0,2ª,0.0
4,4,not a date,D,84981,1,1,group 27,17,3,700,...,09/07/2020 19:37,09/07/2020 19:47,09/07/2020 20:20,20.566667,NaN,0.000000,509.19,0,2ª,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9587,67,09/11/2019,C,546381,2,1,group 197,11,4,530,...,09/11/2019 15:08,09/11/2019 16:56,09/11/2019 17:36,14.466667,NaN,0.000000,NaN,1,2ª,64.0
9588,68,09/11/2019,C,546411,2,1,group 197,17,3,610,...,09/11/2019 20:09,09/11/2019 20:18,09/11/2019 20:23,30.800000,NaN,402.778686,724.17,1,2ª,64.0
9589,69,09/11/2019,A,546421,2,1,group 197,16,3,560,...,09/11/2019 22:15,09/11/2019 23:57,10/11/2019 00:02,38.983333,NaN,1002.867462,779.72,1,2ª,64.0
9590,70,09/11/2019,A,546421,2,2,group 204,16,3,550,...,09/11/2019 23:22,09/11/2019 23:57,10/11/2019 00:02,39.383333,NaN,0.000000,620.14,0,2ª,64.0
9591,71,09/11/2019,A,44471,2,1,group 204,2,3,580,...,10/11/2019 00:27,10/11/2019 00:38,10/11/2019 00:48,50.583333,3042.0,451.427795,1127.16,0,2ª,64.0

In [3]:
raw_dataset.describe()

,Unnamed: 0,tracking,place,tracking_times,Unnamed: 7,human_behavior_report,human_measure,expected_factor_x,previous_factor_x,first_factor_x,expected_final_factor_x,final_factor_x,previous_adamantium,Unnamed: 17,chemical_x,raw_kryptonite,argon,pure_seastone,groups
count,9592.000000,9592.000000,9592.000000,9592.000000,9592.000000,9592.000000,9592.000000,9592.000000,9592.000000,9480.000000,9592.000000,9475.000000,9317.000000,9479.000000,9473.000000,5033.000000,9267.000000,8562.000000,9590.000000
mean,64.964554,287001.802752,1.474145,1.036384,11.293057,3.094454,648.943912,1631.013136,1620.706256,1593.808196,1575.761739,1580.589945,0.301782,1593.811077,30.344528,2344.767224,139.238040,384.876414,37.278415
std,39.281056,249829.091639,0.499357,0.208840,5.467558,0.906333,117.326597,18.552881,19.270982,18.810534,13.671880,20.929805,16.228125,18.809435,24.456353,1898.054799,198.965950,317.392505,22.011641
min,0.000000,9921.000000,1.000000,1.000000,1.000000,1.000000,110.000000,1572.000000,1534.681248,1485.000000,1526.000000,0.032900,0.000400,1485.000000,0.450000,1.000000,0.000000,0.000000,0.000000
25%,31.000000,60238.500000,1.000000,1.000000,7.000000,3.000000,570.000000,1616.000000,1607.900024,1582.000000,1568.000000,1574.000000,0.028600,1582.000000,20.316667,915.000000,0.000000,115.770000,18.000000
50%,63.000000,119286.000000,1.000000,1.000000,11.000000,3.000000,650.000000,1631.000000,1621.099976,1594.599976,1578.000000,1582.000000,0.050000,1594.599976,27.883333,1821.000000,0.000000,356.940000,37.000000
75%,96.000000,559486.000000,2.000000,1.000000,16.000000,4.000000,710.000000,1644.000000,1634.000000,1606.699951,1584.000000,1589.000000,0.274000,1606.699951,37.516667,3240.000000,222.069000,551.460000,56.000000
max,170.000000,631531.000000,2.000000,4.000000,20.000000,4.000000,1200.000000,1720.000000,1702.800049,1690.000000,1653.000000,1657.599976,1566.500000,1690.000000,2048.000000,23270.000000,1711.178897,2599.090000,77.000000

In [4]:
infer_new_schema = False
if infer_new_schema == True:
    schema_path = "/Users/pdanninger/Documents/Projects/Data_Science_Best_Practice/validations/inferred_schema.py"
    pa.infer_schema(raw_dataset).to_script(schema_path)

In [5]:
from validations.inferred_schema import schema

try:
    schema.validate(raw_dataset.iloc[:, :], lazy=True)
except pa.errors.SchemaErrors as exc:
    print(exc.error_counts)
    failure_cases_df = exc.failure_cases
    display(failure_cases_df.sort_values(by=['column']))

# Datetime in column when should be recognized!

<Check custom_datetime_check>
<Check custom_datetime_check>
defaultdict(<class 'int'>, {<SchemaErrorReason.SCHEMA_COMPONENT_CHECK: 'schema_component_check'>: 24})

,schema_context,column,check,check_number,failure_case,index
4,Column,crystal_weight,coerce_dtype('float64'),None,"342,2796",20
1,Column,crystal_weight,coerce_dtype('float64'),None,"346,9613",13
3,Column,crystal_weight,coerce_dtype('float64'),None,"349,3721",19
2,Column,crystal_weight,coerce_dtype('float64'),None,"355,7655",18
228,Column,crystal_weight,dtype('float64'),None,object,None
...,...,...,...,...,...,...
987,Column,start_process,custom_datetime_check,0,19/01/2020 13:39,756
9823,Column,start_subprocess1,dtype('datetime64[ns]'),None,object,None
9827,Column,subprocess1_end,dtype('datetime64[ns]'),None,object,None
227,Column,when,dtype('datetime64[ns]'),None,object,None
0,Column,when,coerce_dtype('datetime64[ns]'),None,not a date,4

In [ ]:
#schema.validate(raw_dataset.iloc[:10, :4])
#schema.validate(raw_dataset)
#try:
#    schema.validate(raw_dataset, lazy=True)
#except pa.errors.SchemaErrors as err:
#    print(err.failure_cases)  # dataframe of schema errors
#    display(err.data)  # invalid dataframe

# Todos
- data types
- more checks such as in RHI
- hypothesis tests

# Great Expectations

In [ ]:
path_to_empty_folder = "../data_validations/"

In [ ]:
context = FileDataContext.create(project_root_dir=path_to_empty_folder)
print(context)

In [ ]:
datasource_name = "best_practice_datasource"
path_to_folder_containing_csv_files = "../data/"

In [ ]:
datasource = context.sources.add_or_update_pandas_filesystem(
    name=datasource_name, base_directory=path_to_folder_containing_csv_files
)

In [ ]:
asset_name = "best_practice_asset"
batching_regex = r"^(.*?)\.csv$"

In [ ]:
datasource.add_csv_asset(name=asset_name, batching_regex=batching_regex, header=0, sep=";")

In [ ]:
data_asset = context.get_datasource("best_practice_datasource").get_asset("best_practice_asset")
batch_request = data_asset.build_batch_request()
print(batch_request)

In [ ]:
options = data_asset.batch_request_options
print(type(options))

In [ ]:
batches = datasource.get_batch_list_from_batch_request(batch_request=batch_request)
for batch in batches:
    #print(batch.batch_spec)
    #print(batch.columns())
    print(batch.head())

In [ ]:
print(batch_request.batch_slice)

In [ ]:
context.add_or_update_expectation_suite("best_practice_expectation_suite")
# Optional. Run assert "my_expectation_suite" in context.list_expectation_suite_names() to veriify the Expectation Suite was created.

In [ ]:
validator = context.get_validator(
    batch_list=batches,
    expectation_suite_name="best_practice_expectation_suite",
)
validator.head()

In [ ]:
validator.active_batch_spec

In [ ]:
validator.expect_column_values_to_not_be_null(column="target")

In [ ]:
validator.active_batch_data

In [ ]:
validator.save_expectation_suite(discard_failed_expectations=False)

In [ ]:
batch_list = data_asset.get_batch_list_from_batch_request(batch_request)
batch_request_list = [batch.batch_request for batch in batch_list]
print(batch_request_list)

In [ ]:
validations = [
    {"batch_request": batch.batch_request, "expectation_suite_name": "best_practice_expectation_suite"}
    for batch in batch_list
]

In [ ]:
checkpoint = context.add_or_update_checkpoint(
    name="my_best_practice_checkpoint", validations=validations
)

checkpoint_result = checkpoint.run()

In [ ]:
context.build_data_docs()
context.open_data_docs()

In [ ]:
# --------------------------------------------- #

In [ ]:
context = gx.get_context()
validator = context.sources.pandas_default.read_csv(
    "https://raw.githubusercontent.com/great-expectations/gx_tutorials/main/data/yellow_tripdata_sample_2019-01.csv"
)

In [ ]:
print(validator.batch_cache)

In [ ]:
checkpoint = context.add_or_update_checkpoint(
    name="my_quickstart_checkpoint",
    validator=validator,
)

In [ ]:
checkpoint_result = checkpoint.run()

In [ ]:
context.view_validation_result(checkpoint_result)